body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
}

header {
    border-bottom: 2px solid #7d97ad;
}

main {
    border-bottom: 2px solid #7d97ad;
}

.profile-name {
    text-align: right;
}

svg#logo {
    width: 100px;
    margin-top: 10px;
}

svg#logo:hover {
    fill: #112B49;
}

.cover-pic {
    margin-top: 15px;
}

figcaption {
    text-align: center;
}

.featured-work, a {
    color: #7d97ad;
}

.featured-work-detail {
    text-align: center;
}

* {
    font-size: 16px;
}

@media screen and (min-width: 768px) {

    .one-featured-work {
        margin-right: 5px;
        width: calc((100% - 10px)/3);
    }

    .one-featured-work:last-of-type {
        margin-right: 0px;
    }

}

@media screen and (max-width: 767px) {

    .container {
        margin-right: 5%;
        margin-left: 5%;
    }

    svg#logo {
        width: 80px;
    }

}

@media screen and (max-width: 550px) {

    h1 {
        font-size: 19px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 15px;
    }

    * {
        font-size: 13px;
    }

}

@media screen and (min-width: 551px) and (max-width: 767px) {

    .featured-work-detail {
        display: flex;
        flex-wrap: wrap;
    }

    .one-featured-work {
        margin-right: 5px;
        width: calc((100% - 10px)/2);
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 21px;
    }

    h3 {
        font-size: 18px;
    }

}

.work-title {
    font-weight: bold;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

footer {
    margin-top: 10px;
}

.zocial-facebook {
    color: #3B5998;
}

.zocial-twitter {
    color: #00acee;
}

.zocial-googleplus {
    color: #dd4b39;
}